<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    
</head>
<body>
    <header>
        <div class="colorCorporativo">
            <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Logo del sitio">
            <input class="buscador" placeholder="Buscar productos, marcas y más. " readonly>
            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito </p>
            <nav class="colorCorporativo">
                <ul>
                    <li> <a href="#">Ofertas</a> </li>
                    <li> <a href="#">Tiendas Oficiales</a> </li>
                    <li> <a href="#">Vender</a> </li>
                    <br>
                    <li> <a href="#">Ayuda</a> </li>
                    <li> <a href="/register">Creá tu cuenta <i class="far fa-address-card"></i></a> </li>
                    <li> <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li> <a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a> </li>
                </ul>
            </nav>
            
            <div class="div-ico">
                <i class="fas fa-bars btn-ic"></i>
            </div>
        </div>

    </header>
    <main>
        <div class="loginForm">
            <form action="">
                <p><input type="text" name="user" placeholder="Nombre de usuario"><br>
                <input type="password" name="password" placeholder="Elegi tu contraseña"></p>
                <p><button type="submit">Enviar</button></p>
            </form>
        </div>
    </main>
    <footer class="footerContainer">
        <article class="footerArticle">
            <i class="fas fa-credit-card icFooter"></i>
            <p>
                <strong>Pagá con tarjeta o en efectivo</strong>
            </p>
            <p>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de
                pago. ¡Y siempre es seguro!
            </p>
        </article>
        <article class="footerArticle">
            <i class="fas fa-gift icFooter"></i>
            <p><strong>
                Envío gratis desde $ 1.999
            </strong></p>
            <p>
                Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
            </p>
        </article>
        <article class="footerArticle">
            <i class="fas fa-user-lock icFooter"></i>
            <p><strong>
                Seguridad, de principio a fin
            </strong></p>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegido.
            </p>
        </article>
        <div>
            Copyright © 1999-2019 MercadoLiebre S.R.L.
        </div>
    </footer>
</body>
</html>