<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    
</head>
<body>
    <div class="colorCorporativo">
        <img src="/images/logo-mercado-liebre.svg" alt="Logo del sitio">
        <span>Buscar productos, marcas y más. <br></span>
        <header><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</header>
        <nav class="colorCorporativo">
            <ul>
                <li> <a href="#">Ofertas</a> </li>
                <li> <a href="#">Tiendas Oficiales</a> </li>
                <li> <a href="#">Vender</a> </li>
                <br>
                <li> <a href="#">Ayuda</a> </li>
                <li> <a href="/register">Creá tu cuenta <i class="far fa-address-card"></i></a> </li>
                <li> <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li> <a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a> </li>
            </ul>
        </nav>

    </div>
    <div>
        <img src="/images/img-home-banner.jpg" alt="Banner" width="">
    </div>
    <div class="ofertas">
        <form action="" method="POST">
            <p>
                <input type="text" name="nombre" placeholder="Nombre y apellido"><br>
                <input type="text" name="user" placeholder="Nombre de usuario"><br>
                <input type="email" name="email" placeholder="Correo"><br>
                <span>Fecha de nacimiento</span><br>
                <input type="date" name="fecNacimiento" ><br>
                <input type="text" placeholder="Domicilio">
            </p>

            <p>
                <label for="mainActivity"><strong>Perfil del usuario</strong></label><br><br>
    
                <input type="radio" name="mainActivity" id="mainActivityBuyer" value="buyer">
                <label for="mainActivityBuyer">Comprador</label>
    
                <input type="radio" name="mainActivity" id="mainActivityseller" value="seller">
                <label for="mainActivityseller">Vendedor</label>
                <br>
                
            </p>
            <p>
                <p><label for="productCategory"><strong>Intereses</strong></label><br></p>
                    <input type="checkbox" name="productCategories" id="productCategoriesElectro" value="electro">
                    <label for="productCategoriesElectro">Electro</label>
                    <input type="checkbox" name="productCategories" id="productCategoriesModa" value="moda">
                    <label for="productCategoriesModa">Moda</label>
                    <input type="checkbox" name="productCategories" id="productCategoriesHome" value="home" >
                    <label for="productCategoriesHome">Hogar</label>
                    <input type="checkbox" name="productCategories" id="productCategoriesToys" value="toys">
                    <label for="productCategoriesToys">Juguetes</label>
                    <input type="checkbox" name="productCategories" id="productCategoriesHealt" value="healt">
                    <label for="productCategoriesHealt">Vida Sana</label>
            </p>
            <p>
                <p><label for="productCategory"><strong>Elegi tu foto de usuario</strong></label><br></p>
                <input type="button" value="Seleccionar Archivo">
                <label for="">No se eligio archivo</label>
            </p>
            <p>
                <input type="password" name="password" placeholder="Elegi tu contraseña"><br>
                <input type="password" name="passwordConf" placeholder="Confirma tu contraseña"><br>
            </p>
            <p>
                <button class="button button-submit" type="submit">Enviar</button>
                <button class="button button-reset" type="reset">Borrar</button>
            </p>

        </form>
    </div>
    <br>
    <footer class="ofertas">
        <i class="fas fa-truck icFooter"></i>
        <p>
            <strong>Pagá con tarjeta o en efectivo</strong>
        </p>
        <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de
            pago. ¡Y siempre es seguro!
        </p>
        <i class="fas fa-truck icFooter"></i>
        <p><strong>
            Envío gratis desde $ 1.999
        </strong></p>
        <p>
            Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.
        </p>
        <i class="fas fa-truck icFooter"></i>
        <p><strong>
            Seguridad, de principio a fin
        </strong></p>
        <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegido.
        </p>
        <p>
            Copyright © 1999-2019 MercadoLiebre S.R.L.
        </p>
    </footer>
    </form>
</body>
</html>